@model scproject.CustomerSupplier

@{
    ViewBag.Title = "DetailsCustomerSupplier";
    Layout = "~/Views/Shared/_LayoutforAdmin.cshtml";
}

<h2>Customer Supplier Details</h2>

<div>
    <h4>CustomerSupplier</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CSName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CSName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CSAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CSAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhoneNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Emailad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Emailad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Payment.PaymentAmount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Payment.PaymentAmount)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "EditCustomerSupplier", new { id = Model.CSID }) |
    @Html.ActionLink("Back to Export", "IndexCustomerSupplier")
</p>
